.xxxwrapper 
{
  border-style		:none;
  font-size		:medium;
  margin-top		:8px;
  text-align:left;
  table-layout:fixed;
}

.xxxavatar
{
  width:32px;
  max-width:32px;
  padding:0 4px 0 0;
}

.xxxavatarSpacer
{
  width:36px;
  max-width:36px;
}

.xxxavatar img
{
  width:32px;
  height:32px;
  max-width:32px;
  display:block;
}

.xxxmessage
{
  white-space		:pre-wrap;
  padding:2px 10px 0 0;
  text-align:left;
}

.xxxsender
{
  white-space		:nowrap;
  font-weight		:bold;
  text-align:left;
}

.xxxtime
{
  white-space		:nowrap;
  font-size             :x-small;
  font-weight           :normal;
  color			:#8b929a;
}

.status .xxxtime
{
  padding-left:8px;
}

.xxxtopic
{
  padding-left		:15px;
  padding-right		:15px;
}

.consecutive
{
  margin-top		:0px;
}

.status .xxxmessage
{
  color			:darkgreen;
}

.notification .xxxmessage
{
  color			:darkblue;
}

.event .xxxmessage
{
  color			:darkred;
}

.mention .xxxmessage
{
  background-color	:mistyrose;
}

.date_separator .xxxmessage
{
  color			:darkCyan;
}

.date_separator .xxxtime
{
  color                 :transparent;
}
